workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

stages:
  - static_code_analysis
  - build
  - test
  - build_push_image
  - update_image_tags

variables:
  IMAGE_NAME: chockalingammuthukumar/go-web-app
  DOCKER_TLS_CERTDIR: ""
  GOLANGCI_LINT_VERSION: 'v1.56.2'

lint:
  image:
    name: golang:1.22
    entrypoint: [""]
  stage: static_code_analysis
  script:
      - echo "Installing golangci-lint"
      - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.56.2
      - export PATH=$PATH:$(go env GOPATH)/bin
      - echo "Running golangci-lints"
      - golangci-lint run --out-format code-climate > gl-code-quality-report.json
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json

build_code:
  image: golang:1.22
  stage: build
  script:
    - echo "building the code"
    - go version 
    - go mod download
    - CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o go-web-app-artifacts
  cache:
    key: go-mod
    paths:
      - /go/pkg/mod
  artifacts:
    paths:
      - go-web-app-artifacts

test_code:
  image: golang:1.22
  stage: test
  cache:
    key: go-mod
    paths:
      - /go/pkg/mod
  script:
    - echo "testing the code"
    - go install github.com/jstemmer/go-junit-report/v2@latest
    - go test ./... -v -count=1 | go-junit-report > report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml

build_push_docker_image:
  image: docker:24
  stage: build_push_image
  services:
    - docker:24-dind
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA .
    - docker tag $IMAGE_NAME:$CI_COMMIT_SHA $IMAGE_NAME:latest
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    - docker push $IMAGE_NAME:latest

update-image-tag:
  image: alpine:3.20
  stage: update_image_tags
  script:
    # git → needed to commit & push
    # yq → safe YAML editor
    # --no-cache -->Keeps image small
    - apk add --no-cache git yq
    - git config --global user.email "92530847+ChockalingamMuthukumar@users.noreply.github.com"
    - git config --global user.name "ChockalingamMuthukumar"

    # Update image.tag in values.yaml
    - yq -i '.image.tag = strenv(CI_COMMIT_SHA)' ./Helm/go-web-app-chart/values.yaml

    # Commit & push
    - git add .
    - git commit -m "chore update image tag to $CI_COMMIT_SHA"
    - git remote set-url origin https://oauth2:$CI_PIPELINE_TOKEN@gitlab.com/chockalingammuthukumar-group/go-web-app-project.git
    - git push origin HEAD:main

    

